.spending-list {
  flex: 1;

  overflow-y: scroll;
  overflow-x: hidden;
  border-right: var(--thin-border);
}

.spending-vis {
  flex: 2;
}

.spending-vis svg {
  width: 100%;
  height: var(--main-height);
}
