<template>
  <style>
    :host {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;

      padding: 10px;
      width: 100%;
      height: 80px;

      border-bottom: 1px solid #ccc;
    }

    .icon-wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      flex: 1;
      padding: 10px;
    }

    .icon {
      max-height: 3.5em;
      width: auto;
      border-radius: 5px;

      border-radius: 5px;
    }

    .info {
      flex: 7;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
    }

    .description {
      margin: 0;
    }

    .notes {
      margin: 0;
    }

    .amount {
      flex: 2;

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    .amount.income {
      color: green;
    }

  </style>

  <div class="icon-wrap"><img class="icon"></div>

  <div class="info">
    <h3 class="description"></h3>
    <p class="notes"></p>
  </div>

  <p class="amount"></p>
</template>

<script src="./transaction.component.js" charset="utf-8"></script>
