<template>
  <style>
    :host {
      display: block;
      overflow-y: scroll;

      border-right: var(--thin-border);
    }

    :host.inactive::after {
      content: 'Loading...';
      display: block;
      width: 100%;
      padding-top: 150px;

      color: var(--medium-grey);
      text-align: center;

      -webkit-user-select: none;
    }

    m-transaction-summary:not(:last-of-type),
    .transaction-group:not(:last-of-type) m-transaction-summary:last-of-type {
      border-bottom: var(--thin-border);
    }

    .day-heading {
      padding: 0.5em 20px;
      position: sticky;
      top: 0;

      border-bottom: var(--thin-border);
      background: #f0f0f0;

      font-size: 1rem;
    }

  </style>
</template>

<script src="./transaction-list.component.js"></script>
