<template>
  <style>
    :host {
      display: block;
      padding-bottom: 15px;
    }

    .info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      padding: 0 15px;

      border-left: 10px solid;
      border-bottom: var(--thin-border);
    }

    :host[data-category=groceries] .info { border-left-color: gold; }
    :host[data-category=transport] .info { border-left-color: teal; }
    :host[data-category=entertainment] .info { border-left-color: orangered; }
    :host[data-category=eating_out] .info { border-left-color: crimson; }
    :host[data-category=cash] .info { border-left-color: olivedrab; }
    :host[data-category=mondo] .info { border-left-color: olivedrab; }
    :host[data-category=monzo] .info { border-left-color: olivedrab; }
    :host[data-category=general] .info { border-left-color: slategrey; }
    :host[data-category=bills] .info { border-left-color: cornflowerblue; }
    :host[data-category=holidays] .info { border-left-color: orchid; }
    :host[data-category=shopping] .info { border-left-color: coral; }
    :host[data-category=expenses] .info { border-left-color: darkkhaki; }

    .map {
      min-height: 100px;
      background: lightblue;
    }

    .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;

      padding: 0 15px 15px;
    }

    .icon-wrap {
      flex: 0 1 130px;
    }

    .icon {
      max-height: 3rem;

      border: var(--thin-border);
      border-radius: 25%;
      background: white;

      transform: scale(1.8);
      transform-origin: bottom left;
    }

    .merchant {
      flex: 1;

      font-size: 2rem;
    }

    .merchant.online::after {
      content: '\01F310';
      font-size: 0.7em;
      padding-left: 0.5em;
      color: rgba(123, 198, 255, 1.0);
      vertical-align: middle;
    }

    .location {
      padding: 0 15px 0.8em;

      font-size: 1rem;
    }

    .category-wrap {
      padding: 0 15px;
    }

    .category::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 0.25em;

      background: url('./icons/bills.png');
      background-size: contain;

      font-size: 1.25em;
      line-height: 1;
      vertical-align: sub;
    }

    .category {
      display: inline-block;
      padding: 0.2em 0.6em 0.2em 0.4em;

      border: 2px solid;
      border-radius: 5px;

      font-size: 1.2rem;
      text-transform: capitalize;
    }

    :host[data-category=groceries] .category { border-color: gold; color: gold; }
    :host[data-category=transport] .category { border-color: teal; color: teal; }
    :host[data-category=entertainment] .category { border-color: orangered; color: orangered; }
    :host[data-category=eating_out] .category { border-color: crimson; color: crimson; }
    :host[data-category=cash] .category { border-color: olivedrab; color: olivedrab; }
    :host[data-category=mondo] .category { border-color: olivedrab; color: olivedrab; }
    :host[data-category=monzo] .category { border-color: olivedrab; color: olivedrab; }
    :host[data-category=general] .category { border-color: slategrey; color: slategrey; }
    :host[data-category=bills] .category { border-color: cornflowerblue; color: cornflowerblue; }
    :host[data-category=holidays] .category { border-color: orchid; color: orchid; }
    :host[data-category=shopping] .category { border-color: coral; color: coral; }
    :host[data-category=expenses] .category { border-color: darkkhaki; color: darkkhaki; }

    .amount-wrap {
      padding: 0.4em 15px;

      border-bottom: var(--thin-border);
    }

    .amount {
      font-size: 1.8rem;
      white-space: nowrap;
      line-height: 1;
    }

    .amount.positive {
      color: green;
    }

    :host.declined .amount {
      color: red;
    }

    .amount .major {
      font-size: 2em;
    }

    .notes-wrap {
      padding: 0.8em 15px 0.5em;

      border-bottom: var(--thin-border);
    }

    .notes-wrap .label {
      display: block;

      color: var(--label-grey);
    }

    .notes-wrap .edit {
      padding-left: 15px;

      font-size: 0.9rem;
      color: rgba(80, 80, 255, 1.0);
      text-decoration: none;
    }

    .notes-wrap textarea {
      width: 100%;
      padding: 0.5em;
      min-height: 150px;
      overflow-y: hidden;

      border-radius: 5px;
      border: var(--thin-border);

      font-size: inherit;
      line-height: inherit;

      resize: none;
    }

    .notes {
      white-space: pre-wrap;
    }

    .attachments {
      padding: 0.8em 0 0.5em;

      border-bottom: var(--thin-border);
    }

    .attachments::before {
      content: 'Attachments:';
      display: block;
      padding-left: 15px;
      padding-right: 15px;

      color: var(--label-grey);
    }

    .attachments .scroll-wrap {
      padding-bottom: 5px;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .attachments .scroll-inner {
      white-space: nowrap;
    }

    .attachments .scroll-inner img,
    .attachments .scroll-inner canvas {
      max-width: 350px;
      max-height: 350px;
      margin: 5px 10px;

      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    }

    .id,
    .description,
    .settled,
    .decline-reason {
      padding: 0.8em 15px;

      font-size: 0.8rem;
      color: var(--medium-grey);
      white-space: pre-wrap;
    }

    .id::before,
    .description::before,
    .settled::before,
    .decline-reason::before {
      display: block;
      color: var(--label-grey);
    }

    .description::before {
      content: 'Transaction Description:';
    }

    .id::before {
      content: 'Transaction ID:';
    }

    .settled.meta {
      display: none;
    }

    .settled::before {
      content: 'Transaction Status:'
    }

    .decline-reason {
      display: none;

      text-transform: capitalize;
    }

    :host.declined .decline-reason {
      display: block;
    }

    .decline-reason::before {
      content: 'Decline Reason:'
    }
  </style>

  <div class="map"></div>

  <div class="header">
    <div class="icon-wrap"><img class="icon"></div>
    <div class="merchant"></div>
  </div>

  <div class="location"></div>
  <div class="category-wrap">
    <div class="category"></div>
  </div>
  <div class="amount-wrap"></div>

  <div class="notes-wrap">
    <div class="label">
      Notes:
      <a href="#" class="edit">Edit</a>
    </div>
    <div class="notes"></div>
  </div>

  <div class="attachments"><div class="scroll-wrap"></div></div>

  <div class="id"></div>
  <div class="description"></div>
  <div class="settled"></div>
  <div class="decline-reason"></div>
</template>

<script src="./transaction-detail.component.js"></script>
