<template>
  <style>
    :host {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;

      padding: 10px 15px;
      max-width: 100%;
      height: 80px;

      border-bottom: 1px solid #ccc;
      border-left: 20px solid;
    }

    :host:hover {
      background: #f0f0f0;
    }

    :host.declined {
      background: #fee;
    }

    :host.declined:hover {
      background: #fdd;
    }

    :host[data-category=groceries] { border-left-color: gold; }
    :host[data-category=transport] { border-left-color: teal; }
    :host[data-category=entertainment] { border-left-color: orangered; }
    :host[data-category=eating_out] { border-left-color: crimson; }
    :host[data-category=cash] { border-left-color: olivedrab; }
    :host[data-category=mondo] { border-left-color: olivedrab; }
    :host[data-category=monzo] { border-left-color: olivedrab; }
    :host[data-category=general] { border-left-color: slategrey; }
    :host[data-category=bills] { border-left-color: cornflowerblue; }
    :host[data-category=holidays] { border-left-color: orchid; }
    :host[data-category=shopping] { border-left-color: coral; }
    :host[data-category=expenses] { border-left-color: darkkhaki; }

    .icon-wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      flex: 1.5;
      padding: 10px;
      padding-left: 0;
    }

    .icon {
      max-height: 3.25em;
      max-width: auto;

      border: 1px solid #ccc;
      border-radius: 25%;
    }

    .info {
      flex: 7 3;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
    }

    .merchant {
      margin: 0;

      font-size: 1rem;
    }

    :host.pending .merchant::after {
      content: '\25f7';
      padding-left: 0.5em;

      color: #ccc;
    }

    .notes {
      display: none;
      margin: 0;
      margin-top: 0.2em;

      font-size: 0.8rem;
      color: #888;
    }

    .notes.noted {
      display: initial;
    }

    .amount {
      flex: 2 0;

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;

      font-size: 1.2rem;
    }

    .amount.income {
      color: green;
    }

  </style>

  <div class="icon-wrap"><img class="icon"></div>

  <div class="info">
    <p class="merchant"></p>
    <p class="notes"></p>
  </div>

  <p class="amount"></p>
</template>

<script src="./transaction.component.js"></script>
