<template>
  <style>
    :host {
      display: block;
    }

    .m-transaction-group-heading {
      padding: 0.5em 20px;
      position: sticky;
      top: 0;

      border-bottom: var(--thin-border);
      background: #f0f0f0;

      font-size: 1rem;
    }

    .m-transaction-group-heading::after {
      content: attr(currency) attr(subtotal);
      float: right;

      color: var(--medium-grey);
    }

    m-transaction-summary:not(:last-of-type) {
      border-bottom: var(--thin-border);
    }
  </style>

  <div class="m-transaction-group-heading"></div>

</template>

<script src="./transaction-group.component.js" async></script>
