<template>
  <style>
    :host {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: stretch;

      padding: 10px 15px;
      max-width: 100%;
      max-height: 100;

      border-left: 20px solid;
    }

    :host(.selected) {
      background: rgba(56, 78, 199, 1.0);
      color: var(--off-white);
    }

    :host(:hover) {
      cursor: pointer;
    }

    :host(:not(.selected):hover) {
      background: #f0f0f0;
    }

    :host(:not(.selected).declined) {
      background: #fff0f0;
    }

    :host(:not(.selected).declined:hover) {
      background: #fee;
    }

    :host([data-category=groceries]) { border-left-color: gold; }
    :host([data-category=transport]) { border-left-color: teal; }
    :host([data-category=entertainment]) { border-left-color: orangered; }
    :host([data-category=eating_out]) { border-left-color: crimson; }
    :host([data-category=cash]) { border-left-color: olivedrab; }
    :host([data-category=mondo]) { border-left-color: olivedrab; }
    :host([data-category=monzo]) { border-left-color: olivedrab; }
    :host([data-category=general]) { border-left-color: slategrey; }
    :host([data-category=bills]) { border-left-color: cornflowerblue; }
    :host([data-category=holidays]) { border-left-color: orchid; }
    :host([data-category=shopping]) { border-left-color: coral; }
    :host([data-category=expenses]) { border-left-color: darkkhaki; }

    .icon-wrap {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      flex: 2;
      padding: 10px;
      padding-left: 0;
    }

    .icon {
      max-height: 3.25em;
      max-width: auto;

      background: var(--white);
      border: var(--thin-border);
      border-radius: 25%;
    }

    .info {
      flex: 7 3;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
    }

    .merchant {
      margin: 0;

      font-size: 1rem;
    }

    :host(.pending) .merchant::after {
      content: '\25f7';
      padding-left: 0.5em;

      color: var(--label-grey);
    }

    .notes {
      display: none;
      margin: 0;
      margin-top: 0.2em;

      font-size: 0.8rem;
      color: var(--medium-grey);
    }

    :host(.selected) .notes {
      color: var(--light-grey);
    }

    .notes.noted {
      display: initial;
    }

    :host(.declined) .notes.noted {
      color: red;
    }

    :host(.declined) .notes.noted::before {
      content: 'Declined due to '
    }

    .amount-wrap {
      flex: 2 0;

      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-end;

      font-size: 1.2rem;
      white-space: nowrap;
    }

    .amount.positive {
      color: green;
    }

    :host(.selected) .amount.positive {
      color: var(--off-white);
    }

    .amount + .amount  {
      font-size: 0.8em;
      color: var(--dark-grey);
    }
  </style>

  <div class="icon-wrap"><img class="icon"></div>

  <div class="info">
    <p class="merchant"></p>
    <p class="notes"></p>
  </div>

  <p class="amount-wrap"></p>
</template>

<script src="./transaction-summary.component.js"></script>
