:root {
  --off-white: rgba(240, 240, 240, 1.0);
  --light-grey: rgba(204, 204, 204, 1.0);
  --label-grey: rgba(170, 170, 170, 1.0);
  --medium-grey: rgba(136, 136, 136, 1.0);
  --dark-grey: rgba(80, 80, 80, 1.0);
  --monzo-blue: rgba(21, 35, 60, 1.0);

  --thin-border: 1px solid var(--light-grey);
}

* {
  box-sizing: border-box;
}

:root,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;

  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.balances {
  flex: 1 0 auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 30px 20px 10px;
  z-index: 1;

  background: var(--monzo-blue);

  font-weight: 300;
  color: var(--off-white);

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.card-balance,
.spent-today {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.card-balance {
  flex: 1;

  text-align: left;

}

.spent-today {
  flex: 1;

  text-align: right;
}

.card-balance h2,
.spent-today h2 {
  margin: 0;

  font-weight: 300;
  font-size: 1.5rem;

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.card-balance .amount,
.spent-today .amount,
.card-balance .amount *,
.spent-today .amount * {
  -webkit-app-region: no-drag;
  -webkit-user-select: initial;
}

.card-balance h2 .major,
.spent-today h2 .major {
  font-size: 2em;
}

.card-balance p,
.spent-today p {
  margin-top: 0.4em;
  margin-bottom: 0;

  cursor: default;

  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: var(--light-grey);
}

.tabs {
  flex: 1 0 auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  padding: 15px 0 20px;

  background: var(--monzo-blue);
  border-bottom: var(--thin-border);

  -webkit-user-select: none;
}

.tabgroup {
  font-size: 0;
}

.tab {
  padding: 0.4em 0.8em;

  border: var(--thin-border);
  border-right: none;
  border-color: currentColor;

  color: var(--off-white);
  font-size: 0.9rem;

  cursor: pointer;
}

.tab:first-of-type {
  border-radius: 5px 0 0 5px;
}

.tab:last-of-type {
  border-right: var(--thin-border);
  border-color: currentColor;
  border-radius: 0 5px 5px 0;
}

.tab.active {
  color: var(--monzo-blue);
  background: var(--off-white);
  border-color: var(--off-white);
}

.app {
  flex: 8 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.app-pane {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

m-transaction-list {
  flex: 4;
}

.transaction-detail-pane {
  flex: 5;
  overflow-y: scroll;
}

.transaction-detail-pane.inactive {
  background: var(--off-white);
}

.transaction-detail-pane.inactive::after {
  content: 'Select transaction from the list to the left.';
  display: block;
  width: 100%;
  padding-top: 150px;

  color: var(--medium-grey);
  text-align: center;

  -webkit-user-select: none;
}
