:root,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;;
  line-height: 1.5;
  font-size: 20px;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;

  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.balances {
  flex: 1 0 100px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 45px 20px 20px;
  z-index: 1;

  background: #15233C;

  font-weight: 300;
  color: #f8f8f8;

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.card-balance {
  flex: 1;

  text-align: left;
}

.spent-today {
  flex: 1;

  text-align: right;,
}

.card-balance h2,
.spent-today h2 {
  margin: 0;

  font-weight: 300;
  font-size: 1.5rem;

  -webkit-app-region: no-drag;
  -webkit-user-select: initial;
}

.card-balance h2 .major,
.spent-today h2 .major {
  font-size: 3rem;
}

.card-balance p,
.spent-today p {
  margin-top: 0.4em;
  margin-bottom: 0;
  padding-bottom: 1em;

  cursor: default;

  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #ccc;
}

.app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;

  flex: 7 1 auto;
}

.transactions {
  flex: 4;
  overflow-y: scroll;

  border-right: 1px solid #ccc;
}

.transactions .day-heading {
  padding: 0.5em 20px;

  border-bottom: 1px solid #ccc;
  background: #f0f0f0;

  font-size: 1rem;
}


.transaction-detail-pane {
  flex: 5;

  overflow-y: scroll;
}
