:root,
html {
  font-size: 20px;
}

body {
  margin: 0;

  font-family: Helvetica, Arial, sans-serif;
}

.balances {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;

  position: sticky;
  padding: 45px 20px 20px;

  background: #15233C;

  font-weight: 300;
  color: #f8f8f8;

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.card-balance {
  flex: 1;

  text-align: left;
}

.spent-today {
  flex: 1;

  text-align: right;,
}

.card-balance h2,
.spent-today h2 {
  margin: 0;

  font-weight: 300;
  font-size: 1.5rem;

  -webkit-app-region: no-drag;
  -webkit-user-select: initial;
}

.card-balance h2 .major,
.spent-today h2 .major {
  font-size: 3rem;
}

.card-balance p,
.spent-today p {
  margin-top: 0.4em;

  cursor: default;

  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #ccc;
}

.day-heading {
  padding: 15px 20px;

  border-bottom: 1px solid #ccc;
  background: #f0f0f0;

  font-size: 1.2rem;
}
