:root {
  --white: rgba(255, 255, 255, 1.0);
  --off-white: rgba(240, 240, 240, 1.0);
  --light-grey: rgba(204, 204, 204, 1.0);
  --label-grey: rgba(170, 170, 170, 1.0);
  --medium-grey: rgba(136, 136, 136, 1.0);
  --dark-grey: rgba(80, 80, 80, 1.0);
  --black: rgba(0, 0, 0, 1.0);

  --monzo-blue: rgba(21, 35, 60, 1.0);

  --thin-border: 1px solid var(--light-grey);

  --header-height: 150px;
  --nav-height: 80px;
  --main-height: calc(100vh - (var(--header-height) + var(--nav-height)));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

body {
  display: grid;
  grid-template-rows: var(--header-height) var(--nav-height) auto;
  grid-template-columns: auto;
  grid-template-areas: "header" "nav" "main";

  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: var(--white);
}

header {
  grid-area: header;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 30px 20px 0;
  z-index: 1;

  background: var(--monzo-blue);

  font-weight: 300;
  color: var(--off-white);

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.balances * {
  -webkit-app-region: inherit;
  -webkit-user-select: inherit;
}

.card-balance {
  --label-text: 'Account Balance';
  flex: 1;

  text-align: left;
}

.spent-today {
  --label-text: 'Spent Today';
  flex: 1;

  text-align: right;
}

.card-balance h2,
.spent-today h2 {
  margin: 0;

  font-weight: 300;
  font-size: 1.5rem;
}

.card-balance .amount,
.spent-today .amount {
  line-height: 1;

  -webkit-app-region: no-drag;
  -webkit-user-select: initial;
}

.card-balance h2 .major,
.spent-today h2 .major {
  font-size: 2em;
}

.card-balance::after,
.spent-today::after {
  content: var(--label-text);
  display: block;
  margin-top: 0.4em;
  margin-bottom: 0;

  color: var(--label-grey);
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  cursor: default;
}

.card-balance h2 .amount + .amount,
.spent-today h2 .amount + .amount {
  display: block;

  color: var(--light-grey);
  font-size: 0.8em;
}

.card-balance h2 .amount + .amount .major,
.spent-today h2 .amount + .amount .major {
  font-size: 1em;
}

nav {
  grid-area: nav;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 10px 15px 20px;

  background: var(--monzo-blue);
  border-bottom: var(--thin-border);

  -webkit-user-select: none;
}

.person {
  padding: 0.4em 0.8em;

  background: url('./icons/monzo.png') 5px center no-repeat;
  background-size: contain;
  border: var(--thin-border);
  border-radius: 8px;

  color: var(--off-white);
  font-size: 0.9rem;

  cursor: default;
}

.person::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 0;
}

.logout {
  padding: 0.4em 0.8em;
  margin-right: auto;
  margin-left: 1ch;

  border: var(--thin-border);
  border-radius: 8px;

  color: var(--off-white);
  font-size: 0.9rem;

  cursor: pointer;
}

.logout:hover {
  background-color: var(--off-white);

  color: var(--monzo-blue);
}

.tabgroup {
  overflow: hidden;

  border: var(--thin-border);
  border-radius: 5px;

  font-size: 0;
}

.tab {
  display: inline-block;
  padding: 0.4em 0.8em;

  border-color: currentColor;

  color: var(--off-white);
  font-size: 0.9rem;

  cursor: default;
}

.tab:not(:last-child) {
  border-right: var(--thin-border);
  border-color: currentColor;
}

.tab.active {
  color: var(--monzo-blue);
  background: var(--off-white);
  border-color: var(--off-white);
}

.tab:not(.active) {
  cursor: pointer;
}

main {
  grid-area: main;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;

  max-width: 100vw;
  max-height: var(--main-height);
}

.app-pane {
  display: none;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
}

.app-pane.active {
  display: flex;
}

.map-pane,
.spending-pane,
.export-pane {
  padding-top: calc(var(--main-height) * 0.2);
  justify-content: center;

  text-align: center;
}

.map-pane h1,
.spending-pane h1,
.export-pane h1 {
  margin-bottom: 0;

  color: var(--dark-grey);
  font-weight: normal;
}

.map-pane h2,
.spending-pane h2,
.export-pane h2 {
  margin-top: 0;

  color: var(--medium-grey);
  font-weight: normal;
}

.map-pane h3,
.spending-pane h3,
.export-pane h3 {
  margin-top: 0;

  color: var(--label-grey);
  font-weight: normal;
}

m-transaction-list {
  flex: 4;
}

.transaction-detail-pane {
  flex: 5;
  overflow-y: scroll;
}

.transaction-detail-pane.inactive {
  background: var(--off-white);
}

.transaction-detail-pane.inactive::after {
  content: 'Select transaction from the list to the left.';
  display: block;
  width: 100%;
  padding-top: 150px;

  color: var(--medium-grey);
  text-align: center;

  -webkit-user-select: none;
}

.transaction-detail-pane.inactive m-transaction-detail {
  display: none;
}

.lightboxable {
  cursor: pointer;
}

.lightbox {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.8);

  -webkit-user-select: none;
}

.lightbox.show {
  display: flex;
}

.lightbox img {
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
}
