<template>
  <style>
    :host {
      display: block;
      overflow-x: hidden;
      overflow-y: scroll;

      border-right: var(--thin-border);
    }

    :host(.inactive)::after {
      content: 'Loading...';
      display: block;
      width: 100%;
      padding-top: 150px;

      color: var(--medium-grey);
      text-align: center;

      -webkit-user-select: none;
    }

    m-transaction-group:not(:last-of-type) {
      border-bottom: var(--thin-border);
    }

    .options {
      padding: 0.5em 0.5em;

      border-bottom: var(--thin-border);
    }

    .options .group-by,
    .options .filter-category {
      font-size: 1rem;
    }
  </style>

  <div class="options">
    Group By:
    <select class="group-by">
      <option value="day">Day</option>
      <option value="merchant">Merchant</option>
    </select>

    Filter:
    <select class="filter-category">
      <option value="">---</option>
      <option value="groceries">Groceries</option>
      <option value="transport">Transport</option>
      <option value="entertainment">Entertainment</option>
      <option value="eating_out">Eating Out</option>
      <option value="cash">Cash</option>
      <option value="monzo">Monzo</option>
      <option value="general">General</option>
      <option value="bills">Bills</option>
      <option value="holidays">Holidays</option>
      <option value="shopping">Shopping</option>
      <option value="expenses">Expenses</option>
    </select>
  </div>
</template>

<script src="./transaction-list.component.js"></script>
