<template>
  <style>
    :host {
      display: block;
      overflow-y: scroll;

      border-right: var(--thin-border);
    }

    :host(.inactive)::after {
      content: 'Loading...';
      display: block;
      width: 100%;
      padding-top: 150px;

      color: var(--medium-grey);
      text-align: center;

      -webkit-user-select: none;
    }

    m-transaction-group:not(:last-of-type) {
      border-bottom: var(--thin-border);
    }

    .options {
      padding: 0.5em 0.5em;
    }

    .options .group-by {
      font-size: 1rem;
    }
  </style>

  <div class="options">
    <select class="group-by">
      <option value="day">Day</option>
      <option value="merchant">Merchant</option>
    </select>
  </div>
</template>

<script src="./transaction-list.component.js"></script>
