:host {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
  align-items: center;
  padding-right: 0.5em;
  overflow: hidden;

  color: var(--off-white);
  font-size: 0.9rem;

  border: var(--thin-border);
  border-radius: 8px;
  cursor: default;
}

.profile-picture {
  height: 40px;
  width: auto;
}
