:host {
  padding: 0.4em 0.8em;

  background: 5px center no-repeat;
  background-image: url('./monux.png');
  background-size: contain;
  border: var(--thin-border);
  border-radius: 8px;

  color: var(--off-white);
  font-size: 0.9rem;

  cursor: default;
}

:host::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 0;
}
