<header class="balances">
  <div class="card-balance">
    <m-amount
      *ngIf="balance$ | async"
      [amount]="balance$ | async"
      sign-mode="never"
      large-major
    ></m-amount>
  </div>

  <div class="spent-today">
    <m-amount
      *ngIf="spent$ | async"
      [amount]="spent$ | async"
      sign-mode="never"
      large-major
    ></m-amount>
  </div>
</header>

<nav class="tabs">
  <m-account [holder]="accountHolder$ | async"></m-account>
  <div class="logout" (click)="logout($event)">
    Log Out
    <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
  </div>

  <div class="tabgroup">
    <div class="tab" [routerLink]="[{outlets: {pane: 'transactions'}}]" routerLinkActive="active">
      <fa-icon [icon]="['fas', 'list-ul']"></fa-icon>
      Transactions
    </div>
    <div class="tab" [routerLink]="[{outlets: {pane: 'pots'}}]" routerLinkActive="active">
      <fa-icon [icon]="['fas', 'piggy-bank']"></fa-icon>
      Pots
    </div>
    <div class="tab" [routerLink]="[{outlets: {pane: 'spending'}}]" routerLinkActive="active">
      <fa-icon [icon]="['fas', 'chart-pie']"></fa-icon>
      Spending
    </div>
    <div class="tab" [routerLink]="[{outlets: {pane: 'map'}}]" routerLinkActive="active">
      <fa-icon [icon]="['far', 'map']"></fa-icon>
      Map
    </div>
    <div class="tab" [routerLink]="[{outlets: {pane: 'export'}}]" routerLinkActive="active">
      <fa-icon [icon]="['fas', 'file-export']"></fa-icon>
      Export
    </div>
  </div>
</nav>

<main>
  <router-outlet name="pane"></router-outlet>
</main>


<dialog
  #modalWrapper
  class="modal-wrapper"
  [class.show]="modalOpen$ | async"
  [open]="modalOpen$ | async"
  (click)="closeModal($event, modalWrapper)"
>
  <div class="modal"></div>
</dialog>
