:host {
  height: 100vh;
  display: grid;
  grid-template-rows: var(--header-height) var(--nav-height) auto;
  grid-template-columns: auto;
  grid-template-areas: 'header' 'nav' 'main';
}

header {
  grid-area: header;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 30px 20px 0;

  background: var(--monzo-blue);

  font-weight: 300;
  color: var(--off-white);

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.balances * {
  -webkit-app-region: inherit;
  -webkit-user-select: inherit;
}

.card-balance,
.spent-today {
  & m-amount {
    font-size: 1.8rem;
    line-height: 1;
  }
}

.card-balance {
  --label-text: 'Account Balance';
  flex: 1;

  text-align: left;
}

.spent-today {
  --label-text: 'Spent Today';
  --align: flex-end;
  flex: 1;

  text-align: right;
}

.card-balance::after,
.spent-today::after {
  content: var(--label-text);
  display: block;
  margin-top: 0.4em;
  margin-bottom: 0;

  color: var(--label-grey);
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  cursor: default;
}

nav {
  grid-area: nav;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0.5em 0.75em;

  background: var(--monzo-blue);
  border-bottom: var(--thin-border);

  -webkit-user-select: none;
}

.logout {
  padding: 0.4em 0.8em;
  margin-right: auto;
  margin-left: 1ch;

  border: var(--thin-border);
  border-radius: 8px;

  color: var(--off-white);
  font-size: 0.9rem;

  cursor: pointer;
}

.logout:hover {
  background-color: var(--off-white);

  color: var(--monzo-blue);
}

.tabgroup {
  overflow: hidden;

  border: var(--thin-border);
  border-radius: 5px;

  font-size: 0;
}

.tab {
  display: inline-block;
  padding: 0.4em 0.8em;

  border-color: currentColor;

  color: var(--off-white);
  font-size: 0.9rem;

  cursor: default;

  &:focus {
    outline: none;
  }
}

.tab:not(:last-child) {
  border-right: var(--thin-border);
  border-color: currentColor;
}

.tab.active {
  color: var(--monzo-blue);
  background: var(--off-white);
  border-color: var(--off-white);
}

.tab:not(.active) {
  cursor: pointer;
}

main {
  grid-area: main;

  display: grid;
  grid-template: 1fr / 1fr;
  justify-content: center;
  align-items: stretch;

  max-width: 100vw;
  max-height: var(--main-height);
}

.lightboxable {
  cursor: pointer;
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  bottom: 0;
  overflow-y: auto;

  cursor: pointer;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.modal {
  cursor: default;
}
