<header class="balances">
  <div class="card-balance">
    <m-amount
      *ngIf="balance$ | async"
      [amount]="balance$ | async"
      sign-mode="never"
      large-major
    ></m-amount>
  </div>

  <div class="spent-today">
    <m-amount
      *ngIf="spent$ | async"
      [amount]="spent$ | async"
      sign-mode="never"
      large-major
    ></m-amount>
  </div>
</header>

<nav class="tabs">
  <m-account [holder]="accountHolder$ | async"></m-account>
  <div class="logout">Log Out</div>

  <div class="tabgroup">
    <div class="tab" [routerLink]="['/transactions']" routerLinkActive="active">Transactions</div>
    <div class="tab" [routerLink]="['/spending']" routerLinkActive="active">Spending</div>
    <div class="tab" [routerLink]="['/map']" routerLinkActive="active">Map</div>
    <div class="tab" [routerLink]="['/export']" routerLinkActive="active">Export</div>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<div class="lightbox">
  <img>
</div>
