:host {
  display: grid;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1.5em 2em 1em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 10px;
}

.close {
  grid-area: 1 / 1 / -1 / -1;
  justify-self: end;
  align-self: start;
  z-index: 1;

  cursor: pointer;
  color: var(--light-gray);

  &:hover {
    color: var(--white);
  }
}

.attachment {
  grid-area: 1 / 1 / -1 / -1;
  display: block;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  align-self: center;
  justify-self: center;
  object-fit: contain;
}
