<div class="wrap">
  <header>
    <img src="../../../build/icon.png" height="100">
    <h1>Authenicate Monux with Monzo</h1>

    <p>
      If the Monzo window does not appear, click below.
      <br>
      <a href="#" (click)="openAuthRequest($event)">Open auth request</a>
    </p>
  </header>

  <form action="#" (submit)="manualCode($event, code.value)" class="manual-code">
    <p>
      Or paste the url shown after clicking the link in the email:
    </p>

    <div class="manual">
      <input #code type="text" class="manual__field">
      <button type="submit" class="manual__submit">Authenticate Manually</button>
    </div>
  </form>

  <div class="back-to-client-info">
    <p>
      Only seeing a white window? Check your internet connection. If you think
      you've made a mistake entering your Client Info,
      <a [routerLink]="['/get-client-info']">click here</a>
      to go back.
    </p>
  </div>
</div>
