<h1>Select New Category</h1>

<div class="close">
  <fa-icon [icon]="['fas', 'times-circle']" size="2x" (click)="closeModal($event)"></fa-icon>
</div>

<div class="categories">
  <figure
    *ngFor="let category of categories"
    class="category"
    [class.active]="tx.category.raw === category"
    [attr.data-category]="category"
    (click)="changeCategory(category, $event)"
  >
    <img [src]="'./assets/icons/' + category  + '.png'">
    <figcaption>
      <p>
        {{ category | category }}
      </p>
    </figcaption>
  </figure>
</div>
