:host {
  display: block;
  height: 100vh;
  padding: 2em;
  overflow: auto;

  color: hsl(218, 48%, 16%);

  background-color: hsl(218, 48%, 16%);

  -webkit-app-region: drag;
}

.wrap {
  margin: 0 auto;
  max-width: 35em;

  -webkit-app-region: inherit;
}

header {
  padding: 2em;

  text-align: center;

  background: gray(97);
  border-radius: 5px;

  -webkit-app-region: no-drag;
}

form {
  margin-top: 2em;
  padding: 2em;
  background: gray(97);

  border-radius: 5px;

  -webkit-app-region: no-drag;

  & p {
    margin: 0em;

    font-size: 1.2em;
  }

  & label {
    display: block;
    margin: 0 auto;
  }

  & input[type='text'] {
    padding: 0.5em;

    font-size: 1.2rem;

    border-radius: 5px;
    border: 1px solid gray(65);
  }

  & .submit {
    padding: 0.5em;

    color: var(--black);
    font-size: 1rem;

    background-color: inherit;
    border-radius: 5px;
    border: 1px solid gray(65);

    &:hover {
      cursor: pointer;
      background-color: gray(90);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
