:host {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;

  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 5px;

  box-shadow: 0 1px 8px hsla(0, 0%, 0%, 0.2);
}

hr {
  margin: 1em 0;
  height: 1px;

  border: 0;
  background-image: linear-gradient(
    to right,
    #fff 0%,
    #ddd 15%,
    #ccc 50%,
    #ddd 85%,
    #fff 100%
  );
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.image {
  position: relative;
  grid-area: 1 / 1 / -1 / -1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to top,
      hsla(0, 0%, 0%, 0.8),
      ease-out,
      hsla(0, 0%, 0%, 0)
    );

    pointer-events: none;
  }

  & img {
    display: block;
    height: auto;
    max-width: 100%;
    max-height: 400px;
  }
}

.header-info {
  grid-area: 2 / 1 / -1 / -1;
  padding: 0.5em 1em;
  z-index: 1;
}

.name {
  margin: 0;

  color: var(--off-white);
  font-weight: normal;
}

.amount {
  margin: 0;

  color: var(--off-white);
  font-weight: normal;
}

.content {
  display: grid;
  grid-template-rows: 1fr auto auto;
  padding: 1em;
}

.info {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0.5em;
  align-items: center;
}

.info > * {
  display: contents;
}

.info > * > :nth-of-type(3) {
  color: var(--dark-grey);
  text-align: right;
}

.deleted {
  justify-self: center;
  align-self: center;

  color: var(--red);
  text-align: center;
  font-size: 1.2rem;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5em;
}
