<div class="image">
  <img [src]="imageUrl">
</div>

<div class="info">
  <h2 class="name">{{ pot.name }}</h2>
  <ng-container *ngIf="pot.deleted; then deleted else info"></ng-container>
</div>

<div class="buttons">

</div>

<!--
  partials
-->

<ng-template #info>
  <h3 class="amount">
    <m-amount [amount]="pot.balance" large-major="true" sign-mode="never"></m-amount>
  </h3>

  <p class="round-up">
    Round up: {{ pot.roundUp }}
  </p>
</ng-template>

<ng-template #deleted>
  <p class="deleted">
    Deleted
  </p>
</ng-template>
