:host {
  display: block;
}

.group-heading {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'collapser title total';
  grid-gap: 1em;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  position: sticky;
  top: -1px;
  padding: 0.4em 0.75em;
  padding-left: 20px;

  border-bottom: var(--thin-border);
  background-color: var(--off-white);

  & .group-title {
    grid-area: title;

    font-size: 1.2rem;
  }

  & .group-collapser {
    grid-area: collapser;

    line-height: 1;

    cursor: pointer;
  }

  & .group-size {
    display: none;
    grid-area: size;

    font-size: 0.9rem;
    color: var(--label-gray);
  }

  & .group-total {
    grid-area: total;

    padding-left: 1em;

    color: var(--medium-gray);
    font-size: 1.1rem;
  }
}

.group-txs {
  overflow: hidden;

  transform-origin: top;

  transition: height 250ms ease-in-out, transform 250ms ease-in-out,
    opacity 250ms ease-in-out;
  will-change: height transform opacity;
}

m-transaction-summary:not(:last-of-type) {
  border-bottom: var(--thin-border);
}
