:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;

  padding: 0.5em 0.75em;
  max-width: 100%;
  max-height: 100px;

  border-left: 20px solid transparent;

  transition: background-color 150ms ease, color 100ms ease;

  &(:hover) {
    cursor: pointer;
  }

  &(.selected) {
    background-color: rgba(56, 78, 199, 1);
    color: var(--off-white);
  }

  &(:not(.selected):hover) {
    background: #e0e0e0;
  }

  &(:not(.selected).declined) {
    background: #fff0f0;
  }

  &(:not(.selected).declined:hover) {
    background: #fee;
  }

  /* pass in via var() from component */
  &([data-category=groceries]) {
    border-left-color: gold;
  }
  &([data-category=transport]) {
    border-left-color: teal;
  }
  &([data-category=entertainment]) {
    border-left-color: orangered;
  }
  &([data-category=eating_out]) {
    border-left-color: crimson;
  }
  &([data-category=cash]) {
    border-left-color: olivedrab;
  }
  &([data-category=mondo]) {
    border-left-color: olivedrab;
  }
  &([data-category=monzo]) {
    border-left-color: olivedrab;
  }
  &([data-category=general]) {
    border-left-color: slategrey;
  }
  &([data-category=bills]) {
    border-left-color: cornflowerblue;
  }
  &([data-category=holidays]) {
    border-left-color: orchid;
  }
  &([data-category=shopping]) {
    border-left-color: coral;
  }
  &([data-category=expenses]) {
    border-left-color: darkkhaki;
  }
  &([data-category=family]) {
    border-left-color: var(--red);
  }
  &([data-category=personal_care]) {
    border-left-color: var(--pink);
  }
}

.icon-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  flex: 2;
  padding: 10px;
  padding-left: 0;

  & .icon {
    width: 3.25em;
    height: 3.25em;

    background: var(--white);
    border: var(--thin-border);
    border-radius: 25%;
  }
}

.info-wrap {
  flex: 7 3;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  overflow-wrap: break-word;

  & .info {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: flex-start;
  }
}

.merchant {
  margin: 0;
  margin-right: 0.5ch;

  font-size: 1rem;
  overflow-wrap: break-word;
  word-break: break-word;
}

.meta {
  color: var(--label-grey);

  & .meta-attachments::after {
    content: attr(data-attachments);
  }
}

.notes {
  margin: 0;
  margin-top: 0.2em;

  font-size: 0.8rem;
  color: var(--medium-grey);

  @nest :host(.declined) & {
    color: red;
  }

  &::before {
    @nest :host(.declined) & {
      content: 'Declined due to ';
    }
  }

  @nest :host(.selected) & {
    color: var(--light-grey);
  }
}

.amount-wrap {
  flex: 2 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  --align: flex-end;

  & m-amount {
    font-size: 1.2rem;
    line-height: 1.4;

    --positive-color: green;
    --local-color: var(--dark-grey);

    @nest :host(.selected) & {
      --positive-color: var(--off-white);
      --local-color: var(--light-grey);
    }
  }
}
