:host {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;

  border-right: var(--thin-border);

  &(.inactive)::after {
    content: 'Loading...';
    width: 100%;
    padding-top: 150px;

    color: var(--medium-gray);
    text-align: center;

    -webkit-user-select: none;
  }
}

.search {
  display: flex;
  align-items: center;
  padding: 0.4em 0.75em;

  border-bottom: var(--thin-border);

  & input {
    flex-grow: 1;
    margin-left: 0.4em;
    padding: 0.4em;

    font-size: inherit;
  }
}

m-transaction-group {
  border-bottom: var(--thin-border);
}

.load-next-page {
  display: block;
  width: 100%;
  padding: 2em 0;

  color: var(--dark-gray);
  font-size: 1rem;
  text-align: center;

  cursor: pointer;

  & a {
    font-size: 1.2rem;
  }
}
