:host {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: var(--main-height);
  overflow: auto;
}

m-transaction-list {
  flex: 4;
}

.transaction-detail-pane {
  flex: 5;
  overflow-y: scroll;
}

.transaction-detail-pane.inactive {
  background: var(--off-white);
}

.transaction-detail-pane.inactive::after {
  content: 'Select transaction from the list to the left.';
  display: block;
  width: 100%;
  padding-top: 150px;

  color: var(--medium-gray);
  text-align: center;

  -webkit-user-select: none;
}

.transaction-detail-pane.inactive m-transaction-detail {
  display: none;
}
