<div class="map"></div>

<div class="header">
  <div class="icon-wrap">
    <img class="icon" [src]="tx.icon">
  </div>
  <div class="merchant" [class.online]="tx.online">
    {{ tx.displayName }}
  </div>
</div>

<div class="location" *ngIf="!tx.online">{{ tx.location }}</div>
<div class="category-wrap">
  <div class="category" [attr.data-emoji]="emoji">
    {{ tx.category.formatted }}
  </div>
</div>

<div class="decline-reason" *ngIf="tx.declined">
  Declined due to {{ tx.declineReason }}.
</div>
<div class="amount-wrap" *ngIf="!this.tx.is.metaAction" [innerHTML]="tx.amount.html(true, 0)"></div>
<div class="balance-wrap" [innerHTML]="tx.balance.html(true, 0)"></div>

<div class="notes-wrap" [class.noted]="notes">
  <a href="#">Add note</a>
  <textarea class="notes" autosize value="{{ tx.notes }}"></textarea>
</div>

<div class="attachments">
  <div class="scroll-wrap">
    <div class="scroll-inner"></div>
  </div>
  <input type="file" class="new-attachment" disabled>
</div>

<div class="date">{{ createdTime }}</div>
<div class="id">{{ tx.id }}</div>
<div class="description">{{ tx.description }}</div>
<div class="settled" *ngIf="showAmount">{{ tx.settled }}</div>
