<div class="group-heading">
  <div class="group-collapser" (click)="toggleCollapse()">
    <ng-container *ngIf="!collapsed">
      ▼
    </ng-container>
    <ng-container *ngIf="collapsed">
      ▶
    </ng-container>
  </div>

  <div class="group-title">{{ groupTitle }}</div>

  <div class="group-total" [innerHTML]="groupTotal"></div>
</div>

<div #groupTxs class="group-txs" [style.height]="txsHeight">
  <m-transaction-summary
    *ngFor="let tx of group.txs"
    [tx]="tx"
    [selected]="selectedTx?.id === tx.id"
    (select)="selectTx($event)"
  ></m-transaction-summary>
</div>
