<div class="group-heading">
  <div class="group-collapser" (click)="toggleCollapse()">
    <ng-container *ngIf="!collapsed">
      <fa-icon [icon]="['fas', 'caret-down']" size="lg" fixedWidth="true"></fa-icon>
    </ng-container>
    <ng-container *ngIf="collapsed">
      <fa-icon [icon]="['fas', 'caret-right']" size="lg" fixedWidth="true"></fa-icon>
    </ng-container>
  </div>

  <div class="group-title">{{ groupTitle }}</div>

  <div class="group-total">
    <m-amount [amount]="groupTotal" sign-mode="never"></m-amount>
  </div>
</div>

<div #groupTxs class="group-txs" [style.height]="txsHeight" [style.transform]="txsTransform" [style.opacity]="txsOpacity">
  <m-transaction-summary
    *ngFor="let tx of group.txs"
    [tx]="tx"
    [selected]="selectedTx?.id === tx.id"
    (select)="selectTx($event)"
  ></m-transaction-summary>
</div>
