:host {
  display: grid;
  grid-template-rows: var(--header-height) var(--nav-height) auto;
  grid-template-columns: auto;
  grid-template-areas: "header" "nav" "main";
}

header {
  grid-area: header;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 30px 20px 0;
  z-index: 1;

  background: var(--monzo-blue);

  font-weight: 300;
  color: var(--off-white);

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.balances * {
  -webkit-app-region: inherit;
  -webkit-user-select: inherit;
}

.card-balance {
  --label-text: 'Account Balance';
  flex: 1;

  text-align: left;
}

.spent-today {
  --label-text: 'Spent Today';
  flex: 1;

  text-align: right;
}

.card-balance::after,
.spent-today::after {
  content: var(--label-text);
  display: block;
  margin-top: 0.4em;
  margin-bottom: 0;

  color: var(--label-grey);
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  cursor: default;
}

nav {
  grid-area: nav;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 10px 15px 20px;

  background: var(--monzo-blue);
  border-bottom: var(--thin-border);

  -webkit-user-select: none;
}

.logout {
  padding: 0.4em 0.8em;
  margin-right: auto;
  margin-left: 1ch;

  border: var(--thin-border);
  border-radius: 8px;

  color: var(--off-white);
  font-size: 0.9rem;

  cursor: pointer;
}

.logout:hover {
  background-color: var(--off-white);

  color: var(--monzo-blue);
}

.tabgroup {
  overflow: hidden;

  border: var(--thin-border);
  border-radius: 5px;

  font-size: 0;
}

.tab {
  display: inline-block;
  padding: 0.4em 0.8em;

  border-color: currentColor;

  color: var(--off-white);
  font-size: 0.9rem;

  cursor: default;
}

.tab:not(:last-child) {
  border-right: var(--thin-border);
  border-color: currentColor;
}

.tab.active {
  color: var(--monzo-blue);
  background: var(--off-white);
  border-color: var(--off-white);
}

.tab:not(.active) {
  cursor: pointer;
}

main {
  grid-area: main;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;

  max-width: 100vw;
  max-height: var(--main-height);
}

.pane {
  display: none;
  flex: 1 0 auto;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
}

.pane.active {
  display: flex;
}

.map-pane,
.export-pane {
  padding-top: calc(var(--main-height) * 0.2);
  justify-content: center;

  text-align: center;
}

.map-pane h1,
.export-pane h1 {
  margin-bottom: 0;

  color: var(--dark-grey);
  font-weight: normal;
}

.map-pane h2,
.export-pane h2 {
  margin-top: 0;

  color: var(--medium-grey);
  font-weight: normal;
}

.map-pane h3,
.export-pane h3 {
  margin-top: 0;

  color: var(--label-grey);
  font-weight: normal;
}

m-transaction-list {
  flex: 4;
}

.transaction-detail-pane {
  flex: 5;
  overflow-y: scroll;
}

.transaction-detail-pane.inactive {
  background: var(--off-white);
}

.transaction-detail-pane.inactive::after {
  content: 'Select transaction from the list to the left.';
  display: block;
  width: 100%;
  padding-top: 150px;

  color: var(--medium-grey);
  text-align: center;

  -webkit-user-select: none;
}

.transaction-detail-pane.inactive m-transaction-detail {
  display: none;
}

.lightboxable {
  cursor: pointer;
}

.lightbox {
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;

  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(0, 0, 0, 0.8);

  -webkit-user-select: none;
}

.lightbox.show {
  display: flex;
}

.lightbox img {
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
}
