:host {
  display: grid;
  grid-template-rows: var(--header-height) var(--nav-height) auto;
  grid-template-columns: auto;
  grid-template-areas: "header" "nav" "main";
}

header {
  grid-area: header;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 30px 20px 0;
  z-index: 1;

  background: var(--monzo-blue);

  font-weight: 300;
  color: var(--off-white);

  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.balances * {
  -webkit-app-region: inherit;
  -webkit-user-select: inherit;
}

.card-balance {
  --label-text: 'Account Balance';
  flex: 1;

  text-align: left;
}

.spent-today {
  --label-text: 'Spent Today';
  flex: 1;

  text-align: right;
}

.card-balance::after,
.spent-today::after {
  content: var(--label-text);
  display: block;
  margin-top: 0.4em;
  margin-bottom: 0;

  color: var(--label-grey);
  font-size: 0.8rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;

  cursor: default;
}
