<template>
  <style>
    :host {
      display: block;
      padding-bottom: 15px;
    }

    :host([data-category=groceries])     { --category-color: gold; }
    :host([data-category=transport])     { --category-color: teal; }
    :host([data-category=entertainment]) { --category-color: orangered; }
    :host([data-category=eating_out])    { --category-color: crimson; }
    :host([data-category=cash])          { --category-color: olivedrab; }
    :host([data-category=mondo])         { --category-color: olivedrab; }
    :host([data-category=monzo])         { --category-color: olivedrab; }
    :host([data-category=general])       { --category-color: slategrey; }
    :host([data-category=bills])         { --category-color: cornflowerblue; }
    :host([data-category=holidays])      { --category-color: orchid; }
    :host([data-category=shopping])      { --category-color: coral; }
    :host([data-category=expenses])      { --category-color: darkkhaki; }

    .info {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      padding: 0 15px;

      border-left: 10px solid var(--category-color);
      border-bottom: var(--thin-border);
    }

    .map {
      min-height: 100px;
      background: lightblue;
    }

    .header {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;

      padding: 0 15px 15px;
    }

    .icon-wrap {
      flex: 0 1 130px;
    }

    .icon {
      width: 3em;
      height: 3em;

      border: var(--thin-border);
      border-radius: 25%;
      background: var(--white);

      transform: scale(1.8);
      transform-origin: bottom left;
    }

    .merchant {
      flex: 1;

      font-size: 2rem;
    }

    .merchant.online::after {
      content: '\01F310';
      font-size: 0.7em;
      padding-left: 0.5em;
      color: rgba(123, 198, 255, 1.0);
      vertical-align: middle;
    }

    .location {
      padding: 0 15px 0.8em;

      font-size: 1rem;
    }

    .category-wrap {
      padding: 0 15px;
    }

    .category {
      display: inline-block;
      padding: 0.2em 0.6em 0.2em 0.4em;

      border: 2px solid var(--category-color, black);
      border-radius: 5px;

      color: var(--category-color, black);
      font-size: 1.2rem;
      text-transform: capitalize;
    }

    .category:hover {
      background-color: var(--category-color);

      color: var(--white);

      cursor: pointer;
    }

    .category::before {
      content: attr(emoji);
      display: inline-block;
      width: 1em;
      height: 1em;
      margin-right: 0.25em;

      font-size: 1.25em;
      line-height: 1;
      vertical-align: middle;
      text-shadow: 1.5px  1.5px 0 white,
                  -1.5px  1.5px 0 white,
                   1.5px -1.5px 0 white,
                  -1.5px -1.5px 0 white,
                   1.5px  0px 0 white,
                  -1.5px  0px 0 white,
                   0px   -1.5px 0 white,
                   0px    1.5px 0 white;
    }

    .category.noemoji::before {
      content: '\1F4B5';
    }

    .amount-wrap {
      padding: 0.8em 15px 0.5em;

      border-bottom: var(--thin-border);
    }

    .amount {
      display: block;

      font-size: 1.8rem;
      line-height: 1.2;
      white-space: nowrap;
    }

    .amount.positive {
      color: green;
    }

    .amount + .amount {
      font-size: 1.5rem;
    }

    .amount + .amount:not(.positive) {
      color: var(--dark-grey);
    }

    :host.declined .amount {
      color: red;
    }

    .amount-wrap .amount .major {
      font-size: 2em;
    }

    .balance-wrap {
      --label-text: 'Balance (after transaction):';

      padding: 0.8em 15px 0.5em;

      border-bottom: var(--thin-border);
    }

    .balance-wrap .amount {
      font-size: 1.6rem;
    }

    .balance-wrap .amount.positive {
      color: inherit;
    }

    .balance-wrap::before,
    .notes-wrap::before {
      content: var(--label-text);
      display: block;

      color: var(--label-grey);
      font-size: 1rem;
    }

    .notes-wrap {
      --label-text: 'Notes:';

      padding: 0.8em 15px 0.5em;

      border-bottom: var(--thin-border);
    }

    .notes-wrap textarea {
      display: none;
      width: 100%;
      padding: 0.5em;
      overflow-y: hidden;

      border-radius: 5px;
      border: 1px solid;
      border-color: transparent;

      font-size: inherit;
      line-height: inherit;

      resize: none;
    }

    .notes-wrap.noted textarea {
      display: block;
    }

    .notes-wrap textarea:hover {
      border-color: var(--light-grey);
    }

    .notes-wrap a {
      text-decoration: none;
    }

    .notes-wrap.noted a {
      display: none;
    }

    .attachments {
      padding: 0.8em 0 0.5em;

      border-bottom: var(--thin-border);
    }

    .attachments::before {
      content: 'Attachments:';
      display: block;
      padding-left: 15px;
      padding-right: 15px;

      color: var(--label-grey);
    }

    .attachments .scroll-wrap {
      padding-bottom: 5px;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .attachments .scroll-inner {
      white-space: nowrap;
    }

    .attachments .scroll-inner img-exif {
      display: inline-block;
      max-width: 350px;
      max-height: 350px;
      margin: 5px 10px;
      vertical-align: middle;

      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    }

    .date,
    .id,
    .description,
    .settled,
    .decline-reason {
      padding: 0.8em 15px;

      font-size: 0.8rem;
      color: var(--medium-grey);
      white-space: pre-wrap;
    }

    .date::before,
    .id::before,
    .description::before,
    .settled::before,
    .decline-reason::before {
      content: var(--label-text);
      display: block;

      color: var(--label-grey);
    }

    .date {
      --label-text: 'Transaction Date and Time:';
    }
    .description {
      --label-text: 'Transaction Description:';
    }

    .id {
      --label-text: 'Transaction ID:';
    }

    .settled {
      --label-text: 'Transaction Status:';
    }

    .settled.meta {
      display: none;
    }

    .decline-reason {
      --label-text: 'Decline Reason:';
      display: none;

      text-transform: capitalize;
    }

    :host(.declined) .decline-reason {
      display: block;
    }
  </style>

  <div class="map"></div>

  <div class="header">
    <div class="icon-wrap"><img class="icon"></div>
    <div class="merchant"></div>
  </div>

  <div class="location"></div>
  <div class="category-wrap">
    <div class="category"></div>
  </div>
  <div class="amount-wrap"></div>
  <div class="balance-wrap"></div>

  <div class="notes-wrap">
    <a href="#">Add note</a>
    <textarea class="notes"></textarea>
  </div>

  <div class="attachments">
    <div class="scroll-wrap"></div>
  </div>

  <div class="date"></div>
  <div class="id"></div>
  <div class="description"></div>
  <div class="settled"></div>
  <div class="decline-reason"></div>
</template>

<script src="./transaction-detail.component.js"></script>
