*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;

  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: white;
}

router-outlet {
  display: none;
}
