:root {
  --white: gray(100%);
  --off-white: gray(97%);
  --light-grey: gray(80%);
  --label-grey: gray(65%);
  --medium-grey: gray(55%);
  --dark-grey: gray(30%);
  --black: gray(0%);

  --red: rgba(255, 59, 48, 1);
  --orange: rgba(255, 149, 0, 1);
  --yellow: rgba(255, 204, 0, 1);
  --green: rgba(76, 217, 100, 1);
  --teal: rgba(90, 200, 250, 1);
  --blue: rgba(0, 122, 255, 1);
  --purple: rgba(88, 86, 214, 1);
  --pink: rgba(255, 45, 85, 1);
  --monzo-blue: rgba(21, 35, 60, 1);

  --thin-border: 1px solid var(--light-grey);

  --header-height: 7.5em;
  --nav-height: 4em;
  --main-height: calc(100vh - var(--header-height) - var(--nav-height));
}
