:host {
  --white: gray(100%);
  --off-white: gray(97%);
  --light-gray: gray(80%);
  --label-gray: gray(65%);
  --medium-gray: gray(55%);
  --dark-gray: gray(30%);
  --black: gray(0%);

  --red: hsl(3, 100%, 59%);
  --orange: hsl(35, 100%, 50%);
  --yellow: hsl(48, 100%, 50%);
  --green: hsl(130, 65%, 57%);
  --teal: hsl(199, 94%, 67%);
  --blue: hsl(211, 100%, 50%);
  --purple: hsl(241, 61%, 59%);
  --pink: hsl(349, 100%, 59%);
  --monzo-blue: hsl(218, 48%, 16%);

  --thin-border: 1px solid var(--light-gray);

  --header-height: 7.5em;
  --nav-height: 4em;
  --main-height: calc(100vh - var(--header-height) - var(--nav-height));
}
