<template>
  <style>
      :host {
        margin: 0;

        font-weight: 300;
        font-size: 1.5rem;
      }

      .amount {
        line-height: 1;

        -webkit-app-region: no-drag;
        -webkit-user-select: initial;
      }

      .major {
        font-size: 2em;
      }

      .amount + .amount {
        display: block;

        color: var(--light-grey);
        font-size: 0.8em;
      }

      .amount + .amount .major {
        font-size: 1em;
      }
  </style>

  <div class="body">
    <span class="amount">
      &pound;<span class="major">--</span>.--
    </span>
  </div>
</template>

<script src="./amount.component.js" async></script>
