:root {
  --white: rgba(255, 255, 255, 1.0);
  --off-white: rgba(240, 240, 240, 1.0);
  --light-grey: rgba(204, 204, 204, 1.0);
  --label-grey: rgba(170, 170, 170, 1.0);
  --medium-grey: rgba(136, 136, 136, 1.0);
  --dark-grey: rgba(80, 80, 80, 1.0);
  --black: rgba(0, 0, 0, 1.0);

  --monzo-blue: rgba(21, 35, 60, 1.0);

  --thin-border: 1px solid var(--light-grey);

  --header-height: 150px;
  --nav-height: 80px;
  --main-height: calc(100vh - (var(--header-height) + var(--nav-height)));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: var(--white);
}
