:root {
  --white: gray(100%);
  --off-white: gray(95%);
  --light-grey: gray(80%);
  --label-grey: gray(65%);
  --medium-grey: gray(55%);
  --dark-grey: gray(30%);
  --black: gray(0%);

  --monzo-blue: rgba(21, 35, 60, 1.0);

  --thin-border: 1px solid var(--light-grey);

  --header-height: 150px;
  --nav-height: 80px;
  --main-height: calc(100vh - (var(--header-height) + var(--nav-height)));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;

  font-family: system-ui;
  line-height: 1.5;
  font-size: 20px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background-color: var(--white);
}

.test {
  color: #ffffffff;
  background-color: rgba(10 10 10 1);
}
